.fresh-article-card {
    // min-width: 200px;
    // width: 20%;
    // border-radius: 10px;
	color: white;
    // display: block;
    // margin:30px 14px;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding:20px;
    margin-top: -50vh;
    margin-bottom: 0vh;
    

    &__image {
        vertical-align: middle;
        height: auto;
        overflow: hidden;
        box-shadow: 5px 3px 23px -4px rgba(0,0,0,0.4);
        filter: brightness(0.6);
        width: 100vw;
    }

    &__title {
        font-size: 48px;
        font-weight: 800;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
    }

    &__date {
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        padding: 4px 6px;
        margin-top: 10px;
        background-color: #00cece;
        border-radius: 3px;
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        line-height: 1.5;
        font-weight: 400;
        margin-top: 10px;
        font-size: 15px;
        text-align: justify;
        
        }

    &__more {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 14px;
        color: #5bffe9;
        margin-top: 10px;
    }

}