.navbar {
    background: #eee;
	padding: 0 15px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    
}

.item {
	&__button {}
	&__logo {}
	&__link {}
}